
h2 {
    text-align: center;
    @include fontProp(4.5rem, 800);
    color: map-get($mainColors, main-font);
    border: 1px solid red;
    display: block;
    margin-bottom: 5rem;

    @include breakpoints($media-xs) {

      font-size: 3.5rem;
    }

    &::after {
        content: '';
        display: block;
        width: 60%;
        margin: 0 auto;
        background-color: map-get($mainColors, dark-blue);
        height: 3px;
    }
}

h3 {
    @include fontProp(2rem, 700);
    color: map-get($mainColors, main-font);
    border: 1px solid red;
    display: inline-block;
    margin: 3rem auto;
    text-align: center;

    &::after {
        content: '';
        display: block;
        width: 80%;
        margin: 0 auto;
        background-color: map-get($mainColors, sea-blue);
        height: 3px;
    }
}
/*about-us*/
#about-us {
    .row {
        .col-lg-4 {
            &:nth-of-type(2) {
                .about-us-col {
                    .mini-img {
                        background-position: -120px 25px;
                    }
                }
            }

            &:nth-of-type(3) {
                .about-us-col {
                    .mini-img {
                        background-position: -250px 25px;
                    }
                }
            }
        }
    }

    .about-us-col {
        text-align: center;

        &:hover .mini-img {
            border-radius: 0;
        }

        .mini-img {
            @include smallImage;
            border: 5px solid map-get($mainColors, sea-blue);
            background-image: url('../img/about-us.png');
            background-repeat: no-repeat;
            background-position: 15px 25px;
            transition: all 0.5s;
        }

        ul {
            border: 1px solid blue;

            li {
                width: 80%;
                text-align: center;
                margin: 0 auto;

                &::before {
                    @include listBullet(map-get($mainColors, sea-blue));
                }
            }
        }
    }
}
/*Who-we-help*/
.help-background {
    width: 100%;
    background-color: map-get($mainColors, sea-blue);
}

.help-col {
    border: 3px solid white;
    margin: 1.5rem 0;
    color: white;
    height: 550px;
    @media (max-width: 1200px) {
        height: auto;
    }

    .help-header {
        font-weight: 800;
        display: block;
        background-color: white;
        padding: 2rem 0 2rem 2rem;
        position: relative;
        margin: 0 auto 2rem;
        text-align: center;
        border: 1px solid blue;

        @include breakpoints($media-xs) {

          font-size: 1.8rem;
        }

        &::before {
            content: '';
            display: block;
            width: 34px;
            height: 34px;
            background-image: url('../img/cross.png');
            background-size: contain;
            position: absolute;
            left: 2%;
            top: 25%;
            transition: all 1s;

            @include breakpoints($media-xs) {

              width: 25px;
              height: 25px;
              top: 30%;
            }
        }

        &::after {
            display: none;
        }
    }

    &:hover .help-header::before {
        transform: rotate(90deg);
    }

    ul {
        margin: 0 auto;
        border: 1px solid blue;
        line-height: 3rem;

        li {
            text-align: center;
            padding: 0.5rem 1.5rem;

            &::before {
                @include listBullet(white);
            }
        }
    }
}
/*Team-members*/
.photo {
    @include smallImage;
    background-image: url('../img/iwona-tomasz.png');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
}

#team {
    .team-member-col {
        text-align: center;
    }

    .col-md-4 {
        &:nth-of-type(2) {
            .team-member-col {
                .photo {
                    background-position: 100%;
                }
            }
        }
    }
}
