h2 {
    @include fontProp(4.5rem, 800, map-get($mainColors, main-font));
    display: block;
    margin-bottom: 5rem;
    @include breakpoints($media-xs) {
        font-size: 3.5rem;
    }

    &::after {
        @include pseudoElems(60%,3px);
        margin: 0 auto;
        background-color: map-get($mainColors, dark-blue);
    }
}

h3 {
    @include fontProp(2rem, 700, map-get($mainColors, main-font));
    display: inline-block;
    margin: 3rem auto;

    &::after {
        @include pseudoElems(80%,3px);
        margin: 0 auto;
        background-color: map-get($mainColors, sea-blue);
    }
}
/*about-us*/
#about-us {
    .row {
        .col-lg-4 {
            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    .about-us-col {
                        .mini-img {
                            background-position: (-120px * ($i - 1)) 20px;
                        }
                    }
                }
            }
        }
    }

    .about-us-col {
        text-align: center;

        &:hover .mini-img {
            border-radius: 0;
        }

        .mini-img {
            @include smallImage;
            @include widthAndHeight(130px,130px);
            border: 5px solid map-get($mainColors, sea-blue);
            background-image: url('../img/about-us.png');
            background-repeat: no-repeat;
            background-position: 0 20px;
            transition: all 0.5s;
        }

        ul {
            li {
                text-align: center;
                margin: 0 auto;
                @include breakpoints($media-xs) {
                    padding: 0.5rem 1rem;
                    width: 70%;
                }

                &::before {
                    @include listBullet(map-get($mainColors, sea-blue));
                }
            }
        }
    }
}
/*Who-we-help*/
.help-background {
    width: 100%;
    background-color: map-get($mainColors, sea-blue);
}

.help-col {
    border: 3px solid white;
    margin: 1.5rem 0;
    color: white;
    height: 550px;
    @media (max-width: 1200px) {
        height: auto;
    }

    .help-header {
        font-weight: 800;
        display: block;
        background-color: white;
        padding: 2rem 0 2rem 2rem;
        position: relative;
        margin: 0 auto 2rem;
        text-align: center;
        @include breakpoints($media-xs) {
            font-size: 1.8rem;
        }

        &::before {
            @include pseudoElems(34px,34px);
            @include posAbsProp(25%,2%,auto,auto);
            background-image: url('../img/cross.png');
            background-size: contain;
            transition: all 1s;
            @include breakpoints($media-xs) {
                 @include widthAndHeight(25px,25px);
                top: 30%;
            }
        }

        &::after {
            display: none;
        }
    }

    &:hover .help-header::before {
        transform: rotate(90deg);
    }

    ul {
        margin: 0 auto;
        line-height: 3rem;

        li {
            text-align: center;
            padding: 0.5rem;
            @include breakpoints($media-sm) {
                padding: 0.5rem 1.5rem;
            }

            &::before {
                @include listBullet(white);
            }
        }
    }
}
/*Team-members*/


#team {
    .team-member-col {
        text-align: center;


        &:hover .photo .photo-overlay {
            transform: rotate(0deg);
        }
        .photo {
            @include smallImage;
            background-image: url('../img/iwona-tomasz.png');
            background-repeat: no-repeat;
            background-position: 0;
            background-size: cover;
            overflow: hidden;
            position: relative;


            .photo-overlay {
                @include posAbsProp(0,0,auto,auto);
                @include flexProp(column,center,center);
                @include widthAndHeight(100%,100%);
                border-radius: 50%;
                background-color: map-get($mainColors, sea-blue);
                opacity: 0.8;
                transform-origin: top left;
                transition: all 0.4s;
                transform: rotate(-90deg);

                a {
                    color: white;
                    font-weight: 600;
                }
            }
        }


    }

    .col-md-4 {
        &:nth-of-type(2) {
            .team-member-col {
                .photo {
                    background-position: 100%;

                }
            }
        }
    }
}

// Opinions
.opinion-col {
  @include flexProp(column,center,center);

  .photo {
      @include smallImage;
      border-radius: 0;
      background: url('../img/opinions.png') no-repeat;

    }

    p {

      width: 80%;

      @include breakpoints($media-md) {
          width: 90%;
      }


    }
}
.slick-prev::before,
.slick-next::before {
    background-color: map-get($mainColors, sea-blue);
    font-size: 2rem;
}
