/*Header*/
.onScroll {
    z-index: 9999;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 4px solid map-get($mainColors, dark-blue);
}
// main menu link effect
.nav-hover {
    color: white!important;
    padding: 10px 5px !important;
    background-color: map-get($mainColors, dark-blue);
}

header {
    height: 120px;
    background-color: rgba(255,255,255,1);
    border-bottom: 4px solid map-get($mainColors, sea-blue);
    transition: 1s linear;
    width: 100%;
    position: fixed;
    z-index: 9000;
    top: 0;

    .head-wrapper {
        @include flexProp(row, center, space-between);
        height: 116px;
        /*Logo*/
        .logo {
            img {
                @include widthAndHeight(80%,auto);
                @include breakpoints($media-sm) {
                    width: 100%;
                }
            }
        }
        /*Nav*/
        nav {
            align-self: flex-end;
            margin-bottom: 4rem;
            margin-right: 0.5rem;
            @include breakpoints($media-sm) {
                margin-right: 3rem;
            }
            @include breakpoints($media-lg) {
                margin-bottom: 0;
                margin-right: 0;
            }
            // Mobile-menu
            .hamburger {
                @include widthAndHeight(40px,36px);
                border: 2px solid map-get($mainColors, beige);
                transform: rotate(0deg);
                transition: 0.4s ease-in-out;

                &.extended {
                    transform: rotate(90deg);
                }

                span {
                    display: block;
                    height: 6px;
                    background-color: map-get($mainColors, sea-blue);
                    margin: 4px 2px;
                }
                @include breakpoints($media-lg) {
                    display: none;
                }
            }

            .mobile-menu {
                @include posAbsProp(auto,0,auto,auto);
                width: 100%;
                display: none;
                margin-top: 4rem;
                z-index: 1;
                @include breakpoints($media-lg) {
                    display: none;
                }

                li {
                    background-color: map-get($mainColors, dark-blue);
                    padding: 1rem 0;
                    border: 1px solid transparentize(map-get($mainColors, sea-blue), 0.75);

                    a {
                        color: white;
                    }
                }
            }
            /*Menu*/
            .main-menu {
                display: none;
                @include breakpoints($media-lg) {
                    display: block;
                    padding-bottom: 10px;
                }

                li {
                    display: inline-block;

                    &.sub-menu {
                        position: relative;
                        /*Sub-Menu*/
                        ul {
                            @include posAbsProp(100,0,auto,auto);
                            @include flexProp(column, auto, auto);
                            visibility: hidden;
                            opacity: 0;
                            background-color: map-get($mainColors, dark-blue);
                            z-index: 0;
                            transform: translateY(-20%);
                            transition: all 0.5s;

                            > li {
                                padding: 10px 0;
                                width: 150px;
                                transition: 0.4s;

                                &:hover {
                                    background-color: transparentize(white, 0.8);
                                }

                                .sub-menu-link {
                                    color: lighten(black, 90);
                                    font-size: 1.4rem;
                                    transition: all 0.4s;
                                    text-align: center;
                                    display: block;
                                    padding: 0;
                                    background: transparent;
                                }
                            }
                        }

                        &:hover ul {
                            visibility: visible;
                            z-index: 1;
                            opacity: 1;
                            transform: translateY(5%);
                        }
                    }

                    a {
                        font-weight: 700;
                        color: map-get($mainColors, main-font);
                        transition: all 0.4s;
                        padding: 0 5px;

                        &:hover {
                            color: white;
                            padding: 10px 5px;
                            background-color: map-get($mainColors, dark-blue);
                        }
                    }
                }
            }
        }
    }
}
/*Slider*/
#slider {
    margin-top: 120px;
    @include widthAndHeight(100%,350px);
    position: relative;
    z-index: 0;
    @include breakpoints($media-md) {
        height: 650px;
    }

    .motto-wrapper {
        @include posAbsProp(auto,0,auto,0);
        @include flexProp(row, center, center);
        height: 100%;
        background-color: rgba(0,0,0, 0.65);
        width: 100%;
        z-index: 1;
        @include breakpoints($media-md) {
            width: 60%;
            left: 20%;
            background-color: rgba(0,0,0, 0.55);
        }
        @include breakpoints($media-lg) {
            width: 35%;
            right: 10%;
            left: auto;
        }
        @include breakpoints($media-xl) {
            width: 30%;
        }

        h1 {
            @include fontProp(2.3rem, 700, white);
            padding: 0 4rem;
            width: 65%;
            @include breakpoints($media-md) {
                width: 100%;
                @include fontProp(3rem, 700, white);
            }

            &::after,
            &::before {
                @include pseudoElems(60%,3px);
                margin: 0 auto;
                background-color: map-get($mainColors, sea-blue);
            }

            span {
                color: map-get($mainColors, light-blue);
            }
        }
    }

    .arrow {
        @include arrow;
        transition: all 0.6s;
        z-index: 1;
        @include breakpoints($media-md) {
            display: flex;
        }

        &:hover {
            background-color: rgba(0,104,159,1);
            font-size: 3.5rem;
        }
    }

    .left {
        @include arrowProps(45%,5%,right);
    }

    .right {
        @include arrowProps(45%,90%,left);
    }
}

.slider-wrapper {
    @include widthAndHeight(100%,100%);
    position: relative;
    overflow: hidden;

    .slides {
        @include posAbsProp(auto,0,auto,auto);
        clear: both;

        li {
            float: left;

            img {
                @include widthAndHeight(auto,100%);
                @include breakpoints($media-md) {
                    height: 650px;
                }
                @include breakpoints($media-xl) {
                    width: 100%;
                }
            }
        }
    }
}
