@import 'color';
@import 'animations';
$media-xs: '(max-width: 575px)';
$media-sm: '(min-width: 576px)';
$media-md: '(min-width: 768px)';
$media-lg: '(min-width: 992px)';
$media-xl: '(min-width: 1200px)';
@mixin breakpoints($media) {
     @media #{$media}{
        @content
    }
};
@mixin smallImage {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
}
@mixin formPlaceholder {
    ::-webkit-input-placeholder {
        color: #a1b8ca;
        padding: 0.5rem;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #a1b8ca;
        padding: 0.5rem;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #a1b8ca;
        padding: 0.5rem;
    }

    :-ms-input-placeholder {
        color: #a1b8ca;
        padding: 0.5rem;
    }
}
@mixin arrow {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(0,104,159,0.7);
    @include fontProp(2.5rem,700, white);
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}
@mixin arrowProps($top,$left,$padding-side) {
    left: $left;
    top: $top;
    padding-#{$padding-side}: 0.5rem;
}
@mixin fontProp($font-size, $font-weight, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}
@mixin posAbsProp($top,$left,$bottom,$right) {
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}
@mixin widthAndHeight ($width, $height) {
    width: $width;
    height: $height;
}
@mixin flexProp($direction,$align,$justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
@mixin pseudoElems($width, $height) {
    content: '';
    display: block;
    width: $width;
    height: $height;
}
@mixin listBullet($color) {
    content: '';
    display: block;
    background-color: $color;
    width: 5px;
    height: 5px;
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.1rem;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}

html {
    font-size: 62,5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: map-get($mainColors, main-font);
    font-weight: 500;
    @include breakpoints($media-xs) {
        font-size: 1.8rem;
    }
}

.preload * {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

p {
    padding: 1rem;
    text-align: center;
}

section {
    margin-bottom: 5rem;
}

ul {
    list-style-type: none;
    text-align: center;
}
@for $i from 1 through 6 {
    h#{$i} {
        text-align: center;
    }
}
